<%= form_with url: forecast_path, method: :get, data: { controller: "form-validator button-state", action: "submit->form-validator#validate turbo:submit-start->form-validator#validate turbo:submit-start->button-state#disable turbo:submit-end->button-state#enable" } do |form| %>
  <div class="form-group">
    <%= form.text_field :address, placeholder: "Search Address, City, or Zip Code", autocomplete: "off", autofocus: true, class: "address-field", data: { form_validator_target: "address" } %>
    <%= form.submit "Find forecast", class: "btn btn-primary", data: { button_state_target: "submit", button_state_text_value: "Finding forecast..." } %>
  </div>
<% end %>

<%= turbo_frame_tag "forecast" do %>
  <% if @error %>
    <p class="error-message"><%= @error %></p>
  <% end %>

  <% if @forecast_data %>
    <%= render partial: "forecast", locals: { forecast: @forecast_data } %>
  <% end %>
<% end %>
